@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
	--font-pmry: 'Raleway', sans-serif;
	--shadow-clr: #ccc;
	--shadow-hvr-clr: #ff7800;
	--bg: #fff;
	--text-clr: #000;
	--title-clr: #4a5997;
	--arrow-clr: #fff;
	--seclct-clr: inherit;
	--select-bg-clr: #b4d5fe;
}

.darkmode {
	--shadow-clr: rgba(16, 111, 200, 0.25);
	--shadow-hvr-clr: #72f7ff;
	--bg: #191e2a;
	--text-clr: #fff;
	--title-clr: #7180c1;
	--seclct-clr: #2d210a;
	--select-bg-clr: #ffe9c0;
}

::-moz-selection {
	color: var(--seclct-clr);
	background-color: var(--select-bg-clr);
}

::-webkit-selection {
	color: var(--seclct-clr);
	background-color: var(--select-bg-clr);
}

::selection {
	color: var(--seclct-clr);
	background-color: var(--select-bg-clr);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
	font-family: var(--font-pmry);
	color: var(--text-clr);
	line-height: 25px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.title-section {
	background-repeat: no-repeat;
	background-size: cover;
	height: 30vh;
	width: 100%;
	color: #fff;
	font-family: var(--font-pmry);
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
}

section.title-section > h1.title {
	font-size: 3rem;
	line-height: initial;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	width: 100%;
	overflow: hidden;
}

.video-container > iframe,
.video-container > img,
.video-container > video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-container > img {
	object-fit: contain;
}

section.content-top {
	width: 90%;
}

.othera {
	text-decoration: none;
	color: #6f84dc;
}

.othera:hover {
	text-decoration: underline;
}

section.main-content {
	width: 90%;
	margin: 3rem 0;
}

section.main-content > p {
	font-family: var(--font-pmry);
	color: var(--text-clr);
}

img.OtherImg {
	width: 100%;
	max-width: 500px;
	object-fit: contain;
	display: block;
	margin: 2rem auto;
}

.platform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--font-pmry);
}

.platform > h1.title {
	margin: 20px 0;
	color: var(--title-clr);
}

.platFormImgC {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.platformimg {
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 0.5rem;
	padding: 6px;
	box-shadow: 0 0 10px var(--shadow-clr);
	transition: box-shadow 350ms ease;
	background-color: #fff;
}

a.platformlink .platformimg:hover {
	box-shadow: 0 0 10px var(--shadow-hvr-clr);
}

.backarrow-container {
	position: fixed;
	top: 20px;
	left: 10px;
	z-index: 100;
}

.backarrow-container > a.back:hover {
	--arrow-clr: rgb(143, 0, 0);
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.content-top {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 50px 0;
	}

	section.main-content {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	section.title-section > h1.title {
		text-align: center;
	}
}

/* slider start */
.switch > input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch {
	position: fixed;
	display: block;
	width: 70px;
	height: 34px;
	top: 20px;
	right: 30px;
	z-index: 100;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	background-color: #18a2f0;
	height: 100%;
	width: 100%;
	border-radius: 70px;
	transition: background-color 350ms ease-in-out;
}

.slider::before {
	content: '';
	height: 27px;
	width: 27px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 3px;
	border-radius: 50%;
	transition: left 350ms ease-in-out;
	z-index: 2;
}

.darkmode-toggle:checked + .slider {
	background-color: #545389;
}

.darkmode-toggle:checked + .slider::before {
	left: 55%;
	background-color: #d2dfff;
}

.darkmode-toggle:checked + .slider::after {
	background-image: url(../images/moon_a.svg);
	background-position: 10% 50%;
}

.slider::after {
	content: '';
	background-image: url(../images/sun.svg);
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: 90% 50%;
	left: 0;
	z-index: 1;
}
/* slider end */
