@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
	--clr-light: #fff;
	--clr-light-100: #eee;
	--nav-bg: #253160;
	--hover-clr: #8fa0ec;
	--font-pmry: 'Raleway', sans-serif;
	--title-color: #4a5997;
	--title-card-color: #3b4677;
	--camera-svg-pmry: #4a5997;
	--camera-svg-light: #fff;
	--logo-text-color: #000;
	--text-color-default: #000;
	--bg: #fff;
	--box-shadow-color: rgba(0, 0, 0, 0.25);
	--hover-color-grey: #eee;
	--photo-categ-text-color: #4a5997;
	--card-p-color: #717171;
	--logo-color: #444e78;
	--tags-bg: #d3d3d3;
	--tags-text-color: #5f6da7;
	--article-link-bg: #6470a1;
	--article-link-text: #e9edff;
	--article-link-hover-color: #424b73;
}

.darkmode {
	--title-color: #7180c1;
	--camera-svg-pmry: #eee;
	--camera-svg-light: #444d72;
	--logo-text-color: #eee;
	--text-color-default: #eee;
	--bg: #1a1e2b;
	--box-shadow-color: rgba(64, 90, 158, 0.25);
	--hover-color-grey: #343f5e;
	--photo-categ-text-color: #eee;
	--title-card-color: #7a90f0;
	--card-p-color: #eeeeee;
	--logo-color: #8698e4;
	--tags-bg: #2e3550;
	--tags-text-color: #7180c1;
	--article-link-bg: #7886c2;
	--article-link-text: #fff;
	--article-link-hover-color: #576293;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
}

section.top_img {
	background: linear-gradient(180deg, #010036 0%, rgba(0, 0, 0, 0) 100%),
		url(../images/bhome_coverC.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--clr-light);
	font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 1024px) {
	section.top_img {
		background: linear-gradient(180deg, #010036 0%, rgba(0, 0, 0, 0) 100%),
			url(../images/bhome_coverCP.jpg) no-repeat;
		background-size: cover;
	}
}

@media screen and (min-width: 1600px) {
	section.top_img {
		background: linear-gradient(180deg, #010036 0%, rgba(0, 0, 0, 0) 100%),
			url(../images/bhome_coverCD.jpg) no-repeat;
		background-size: cover;
	}
}

nav {
	z-index: 100;
	background-color: var(--nav-bg);
	width: 100%;
	height: 70px;
	position: relative;
}

.nav-ul {
	display: flex;
	list-style: none;
	position: absolute;
	right: 40px;
	top: 50%;
	transform: translateY(-50%);
}

.nav-li {
	margin-left: 25px;
}

.nav-li > .nav-link {
	color: var(--clr-light-100);
	text-decoration: none;
	font-family: var(--font-pmry);
	transition: color 250ms ease;
}

.nav-li > .nav-link.active {
	color: var(--hover-clr);
}

.nav-li > .nav-link:hover {
	color: var(--hover-clr);
}

img.nav-img {
	height: 45px;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
	nav {
		background-color: var(--nav-bg) !important;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-image: url(../images/hamburger.svg);
		background-repeat: no-repeat;
		background-position: 95% 50%;
		background-size: 5%;
		cursor: pointer;
	}
	.nav-ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 80%;
		height: 280px;
		top: 60px;
		left: 0;
		background-color: var(--nav-bg) !important;
		transform: scale(1, 0);
		transform-origin: top;
		transition: transform 350ms ease;
	}
	nav .nav-ul.active {
		transform: scale(1, 1);
	}
	.nav-li {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		height: 50px;
	}
}

/* about page start */
section.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

h1.title-about {
	font-size: 2.1rem;
	font-weight: 400;
	font-family: var(--font-pmry);
	color: var(--title-color);
	margin-bottom: 20px;
	text-align: center;
}

p.about-p {
	font-family: var(--font-pmry);
	line-height: 25px;
	color: var(--text-color-default);
}

.content-container {
	width: 90%;
	max-width: 800px;
}

.hobbies-container {
	display: grid;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.hobbies-container > .hobby {
	height: 200px;
	width: 200px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--camera-svg-light);
}

.xp {
	background-image: linear-gradient(90deg, #00cf53 -1.6%, #d7ffe7 100%);
	height: 10px;
	width: 300px;
	border-radius: 20px;
	margin: 20px 0;
}

.container-2 {
	display: grid;
	font-size: 0.5em;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.hobbies-non-coding {
		grid-template-columns: 200px 200px;
		gap: 30px;
	}

	.hobbies-container1 {
		grid-template-areas:
			'html css js'
			'php mysql .'
			'node exp .';
	}

	.hobby.html {
		grid-area: html;
	}

	.hobby.ept {
		grid-area: ept;
		box-shadow: none;
		width: 100px;
	}

	.hobby.css {
		grid-area: css;
	}

	.hobby.js {
		grid-area: js;
	}

	.hobby.php {
		grid-area: php;
	}

	.hobby.mysql {
		grid-area: mysql;
	}

	.hobby.node {
		grid-area: node;
	}

	.hobby.exp {
		grid-area: exp;
	}

	.hobby.eptl {
		grid-area: eptl;
		box-shadow: none;
		width: 100px;
	}
	.sub-grid {
		grid-template-columns: 200px 200px;
	}
}
/* about page end */
/* photos page start */
section.photos-content {
	margin-top: 30px;
}
.photos-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
article.photo-categ-box {
	height: 200px;
	width: 300px;
	box-shadow: 0 0 4px var(--box-shadow-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	border-radius: 3rem;
	transition: background-color 350ms ease;
	margin-bottom: 40px;
	background-color: var(--camera-svg-light);
}
.categ-img {
	object-fit: cover;
	width: 100%;
	height: 70%;
	border-top-left-radius: 3rem;
	border-top-right-radius: 3rem;
}
h2.cat-name {
	margin-top: 15px;
	color: var(--photo-categ-text-color);
	font-weight: 400;
	font-family: var(--font-pmry);
}
a.photo-categ-link {
	text-decoration: none;
}

a.photo-categ-link:hover article.photo-categ-box {
	background-color: var(--hover-color-grey);
}

@media screen and (min-width: 768px) {
	.photos-content {
		flex-direction: column;
	}
	.photos-categ-grid {
		display: grid;
		grid-template-columns: repeat(3, 300px);
		gap: 30px;
	}
	article.photo-categ-box {
		height: 500px;
		margin-bottom: 0;
	}
	.categ-img {
		height: 85%;
	}
	h2.cat-name {
		margin-top: 25px;
	}
	h1.title-photos {
		margin-bottom: 40px;
		text-align: left;
		width: 80%;
		max-width: 960px;
	}
}
/* photos end */

/* other start */
section.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	gap: 3rem;
	max-width: 1500px;
}

article.other-card {
	width: 350px;
	height: 450px;
	position: relative;
	background-color: var(--camera-svg-light);
	border-radius: 3rem;
	box-shadow: 0px 4px 4px var(--box-shadow-color);
}

article.other-card > img.other-img {
	width: 100%;
	height: 40%;
	object-fit: cover;
	border-top-left-radius: 3rem;
	border-top-right-radius: 3rem;
}

article.other-card > h2 {
	font-family: var(--font-pmry);
	font-weight: 400;
	color: var(--title-card-color);
	padding: 5px 20px;
}

article.other-card > p {
	font-family: var(--font-pmry);
	padding: 10px 20px;
	color: var(--card-p-color);
}

article.other-card > .links {
	display: grid;
	grid-template-columns: repeat(2, 30px);
	gap: 10px;
	position: absolute;
	bottom: 20px;
	right: 25px;
}

article.other-card > .links > .logo > a.link {
	opacity: 0.8;
	transition: opacity 350ms ease;
}

article.other-card > .links > .logo > a.link:hover {
	opacity: 1;
}

article.other-card > ul.tags {
	list-style: none;
	display: flex;
	margin: 5px 20px;
	width: 90%;
	flex-wrap: wrap;
}

article.other-card > ul.tags > li.tag {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	font-family: var(--font-pmry);
	background-color: var(--tags-bg);
	color: var(--tags-text-color);
	padding: 0.5rem 1rem;
	border-radius: 0.3em;
	font-size: 0.8rem;
}

article.other-card > a.article-link {
	margin-left: 15px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: block;
	background-color: var(--article-link-bg);
	width: 120px;
	height: 35px;
	border-radius: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--article-link-text);
	font-family: var(--font-pmry);
	font-size: 0.8rem;
	transition: background-color 250ms ease;
}

article.other-card > a.article-link:hover {
	background-color: var(--article-link-hover-color);
}

@media screen and (min-width: 768px) {
	h1.title-cd {
		text-align: left;
		width: 90%;
		max-width: 1000px;
	}
}

@media screen and (max-width: 768px) {
	section.cards-container {
		justify-content: center;
	}
}

/* other end */
